/* h1 {
    color: green
} */

/* td {
    text-align: center;
} */

/* selector {
    font-size: 12px;
    color: burlywood;
    font-weight: bold
} */

/* //TAG NAME */

/* //in the end */
/* selector {
    font-size: 14px;
    color: burlywood;
    font-weight: bold
} */

/* h1 {
    color: burlywood;
    border: 1px solid red;
    font-size: 18px;
} */

/* //Class-selector */
/* .header {
    color: burlywood;
    border: 1px solid red;
    font-size: 18px;
}

.btn {
    padding: 10px;
    color: white
}

.btn-primary {background-color: aqua;}
.btn-secondary {background-color: blue;}
.btn-default {background-color: brown;} */

/* //Id-selector */
/* #header1 {
    color: burlywood;
    border: 1px solid red;
    font-size: 18px;
} */

/* //CSS SPECIFICITY */
/* 
ID === 10
CLASS === 5
TAGS === 1 */

/* h1 {
    color: burlywood;
}

.main {
    color: blueviolet;
    font-size: 16px;
} 

#main-header {
    color: brown;
}

h1 {
    color: green;
    font-size: 18px;
}

.main {
    color: aqua;
}  */
/* 
p {
    font-size: 18px;
    font-weight: bold;
    color: chartreuse
}
//descendant selector
div .span1 .para-in {
    border :1px solid red
} */

/* //child selector
//adjacant sibling selector
// general sibling selector */

/* // psudo classes and psudo  elements */

/* h1[title*="main"] {
    color: bisque
}
.main {

} */
/* h1 {
    color: aliceblue;
    font-weight: bold;
    background-color: brown;
} */

/* h1:hover {
    font-size: 24px;
    color: aquamarine;
    font-weight: normal;
    background-color: black;
} */
/* p:hover {
    color: aquamarine;
    background-color: black;
}
input:focus-visible {
    border: 1px solid wheat;
} */


/* //psudo elemets */
/* p {
    color:blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

/* p span.first-letter {
    color: black;
    font-size: 24px;
} */

/* p::first-letter {
    color: black;
    font-size: 24px;
}

p::selection {
    background-color: black;
    color: yellow
}

p::after {
    content: 'Hi this is aviral'
}

p::before {
    content: url(./image/Mickey-Mouse.jpeg);
    transform: scale(.5);
} */

.main1 {
    height: 100vh;
    width: 100vw;
    border: 1px solid red;
}
/* .main2 {
    height: 150px;
    width: 150px;
    border: 5px solid blue;
}

.main3 {
    width: 150px;
    height: 150px;
    border: 5px solid green;
    padding: 5px;
    margin: 20px;
} */
