/* h1 {
    color: green
} */

/* td {
    text-align: center;
} */

/* selector {
    font-size: 12px;
    color: burlywood;
    font-weight: bold
} */

/* //TAG NAME */

/* //in the end */
/* selector {
    font-size: 14px;
    color: burlywood;
    font-weight: bold
} */

/* h1 {
    color: burlywood;
    border: 1px solid red;
    font-size: 18px;
} */

/* //Class-selector */
/* .header {
    color: burlywood;
    border: 1px solid red;
    font-size: 18px;
}

.btn {
    padding: 10px;
    color: white
}

.btn-primary {background-color: aqua;}
.btn-secondary {background-color: blue;}
.btn-default {background-color: brown;} */

/* //Id-selector */
/* #header1 {
    color: burlywood;
    border: 1px solid red;
    font-size: 18px;
} */

/* //CSS SPECIFICITY */
/* 
ID === 10
CLASS === 5
TAGS === 1 */

/* h1 {
    color: burlywood;
}

.main {
    color: blueviolet;
    font-size: 16px;
} 

#main-header {
    color: brown;
}

h1 {
    color: green;
    font-size: 18px;
}

.main {
    color: aqua;
}  */
/* 
p {
    font-size: 18px;
    font-weight: bold;
    color: chartreuse
}
//descendant selector
div .span1 .para-in {
    border :1px solid red
} */

/* //child selector
//adjacant sibling selector
// general sibling selector */

/* // psudo classes and psudo  elements */

/* h1[title*="main"] {
    color: bisque
}
.main {

} */
/* h1 {
    color: aliceblue;
    font-weight: bold;
    background-color: brown;
} */

/* h1:hover {
    font-size: 24px;
    color: aquamarine;
    font-weight: normal;
    background-color: black;
} */
/* p:hover {
    color: aquamarine;
    background-color: black;
}
input:focus-visible {
    border: 1px solid wheat;
} */


/* //psudo elemets */
/* p {
    color:blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

/* p span.first-letter {
    color: black;
    font-size: 24px;
} */

/* p::first-letter {
    color: black;
    font-size: 24px;
}

p::selection {
    background-color: black;
    color: yellow
}

p::after {
    content: 'Hi this is aviral'
}

p::before {
    content: url(./image/Mickey-Mouse.jpeg);
    transform: scale(.5);
} */

/* .main1 {
    height: 60vh;
    width: 100vw;
    border: 1px solid red;
} */
/* .main2 {
    height: 150px;
    width: 150px;
    border: 5px solid blue;
}

.main3 {
    width: 150px;
    height: 150px;
    border: 5px solid green;
    padding: 5px;
    margin: 20px;
} */

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-size: 36px;
    margin: 8px;
    background-color: bisque;
    text-align: center;
}

.help {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    background-color: greenyellow;
    position: fixed;
    /* bottom: 50px; */
    /* right: 50px ; */
    left: 10px;
    top: 50%;
}
.main1, .main2, .main3 {
    font-size: 18px;
    height: 300px;
    width: 300px;
    margin-bottom: 5px;
    border: 5px solid red;
    border-radius: 0px 15px 0px 0px;
    padding: 20px;
    /* animation-name: boxAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite; */
}

.header {
    width: 100%;
    background-color: blanchedalmond;
    box-shadow: 2px 2px 5px black;
    position: sticky;
    top: -5px;
}

.sticky {
    border: 1px solid red;
    border: 1px solid green;
    position: sticky;
    top: 1px;
}
.main {
    /* position: relative;
    left: 10px; */
    height: 80vh;
    width: 50vw;
    border: 1px solid red;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

/* 
.grand-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    background-color: blue;
    position: relative;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 25vw;
    background-color: red;
    position: absolute;
    right: 20%;
    top: 0px;

}

.child {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 12.5vh;
    width: 12.5vw;
    background-color: yellow;
} */

.main .heading {
    margin-top: 10px;
}

/* .name {
    position: relative;
    top: -70px;
    left: 200px;
} */


/* .btn1 {
    position: relative;
    /* top: 300px;
    left: 80px; */
    /* bottom: 10px;
} */

/* .btn2 {
    position: relative;
    right: 50px;
} */

/* .btn1 { 
    position: absolute;
    left: 50px;
} */

.btn1 {
    position: absolute;
    bottom: 5px;
    right: 5px;
}


/* @keyframes boxAnimation {
  0% { box-shadow: 10px 10px black; }
  25% {box-shadow: 10px 10px darkgray;}
  50% {box-shadow: 10px 10px white; }
  75% {box-shadow: 10px 10px darkgray;}
  100% {box-shadow: 10px 10px black; }
} */


/* // width = content
// total = content + padding + border + margin

// width = content + padding + border == total  */

/* //4 types of positions in css */

/* 1. static
2. fixed
3. relative
4. absolute
5. sticky */
/* @media only screen and (max-width: 425px) {
    .btn1 {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-color: green
    }
} */






